# General
jupyter
tqdm # Progress bar
scipy<1.13.0 # Scientific computing library | Note: scipy 1.13 is causing conflict with gensim
testfixtures
gradio
black
omegaconf
#pydantic
ydata-profiling


# Data handling
pandas
numpy

# MLOps
mlflow

# Database
sqlalchemy # SQL toolkit and Object-Relational Mapping
pyodbc # SQL Server connector
pymysql # MySQL connector
# qdrant-client # Vector database client
# jaydebeapi # JDBC connector
# clickhouse_connect # ClickHouse connector
# cx_Oracle # Oracle connector

# Data visualization
matplotlib # Basic plotting
seaborn # Statistical data visualization
PyQt6 # GUI
# folium # Interactive maps

# Machine learning
scikit-learn < 1.5.0 # General machine learning
xgboost <= 2.1.0 # Gradient boosting on decision trees
gensim # Topic modeling
mapie # Model agnostic prediction intervals
nlpaug # Data augmentation for NLP
# statsmodels
# statsmodels # Time series analysis

# Deep learning
# tensorflow # General deep learning
# keras # High-level neural networks API
# torch # General deep learning

# Natural language processing
nltk
thefuzz # Fuzzy string matching
deep-translator
langdetect
wordcloud # Word cloud visualization
spacy < 3.8.0 # NLP library
sentence-transformers
transformers # Hugging Face's transformer models
gensim # Topic modeling

# PDF processing
PyPDF2 # simple PDF processing

# Web scraping
beautifulsoup4
