# General
jupyter

# Data handling
pandas
numpy

# SQL connector
sqlalchemy # SQL toolkit and Object-Relational Mapping
pymysql # MySQL connector
mysqlclient # MySQL connector
psycopg2 # PostgreSQL connector
cx_Oracle # Oracle connector
pyodbc # SQL Server connector


# Data visualization
matplotlib # Basic plotting
# seaborn # Statistical data visualization
# folium # Interactive maps

# Machine learning
scikit-learn # General machine learning
xgboost # Gradient boosting on decision trees
# statsmodels # Time series analysis

# Deep learning
# tensorflow # General deep learning
# keras # High-level neural networks API

# Natural language processing
nltk
spacy
googletrans # Google Translate API
# TextBlob # Simplified text processing
# gensim # Topic modeling
# pyLDAvis # Topic modeling visualization
# wordcloud # Word cloud visualization

# Web scraping
# beautifulsoup4
# selenium

# Image processing
# opencv-python # Computer vision

# Geospatial data
# geopandas   # Geospatial data



