# General
jupyter
tqdm # Progress bar
scipy<1.13.0 # Scientific computing library | Note: scipy 1.13 is causing conflict with gensim
testfixtures
gradio
black
omegaconf

# Data handling
pandas
numpy

# MLOps
mlflow

# Database
sqlalchemy # SQL toolkit and Object-Relational Mapping
pyodbc # SQL Server connector
pymysql # MySQL connector
qdrant-client # Vector database client
jaydebeapi # JDBC connector
clickhouse_connect # ClickHouse connector
cx_Oracle # Oracle connector

# Data visualization
matplotlib # Basic plotting
seaborn # Statistical data visualization
PyQt6 # GUI
# folium # Interactive maps

# Machine learning
scikit-learn # General machine learning
xgboost # Gradient boosting on decision trees
gensim # Topic modeling
statsmodels
# statsmodels # Time series analysis

# Deep learning
# tensorflow # General deep learning
# keras # High-level neural networks API
torch # General deep learning

# Natural language processing
nltk
thefuzz # Fuzzy string matching
deep-translator
langdetect
wordcloud # Word cloud visualization
spacy
sentence-transformers
gensim # Topic modeling
# googletrans # Google Translate API
# translate # Translate API
# multilingual-translation # Multilingual translation using Facebook's LLM
# TextBlob # Simplified text processing
# pyLDAvis # Topic modeling visualization

# PDF processing
PyPDF2 # simple PDF processing
# PFMiner # complex PDF processing

# Web scraping
beautifulsoup4
# selenium

# Image processing
# opencv-python # Computer vision

# Geospatial data
# geopandas   # Geospatial data


